{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        cheshire/cheshire {:mvn/version "5.11.0"}
        com.cnuernber/charred {:mvn/version "1.028"}
        com.taoensso/timbre {:mvn/version "6.1.0"}}
 :aliases
 {:run-m {:main-opts ["-m" "heyokx.echo-challenge"]}
  :dev {
        :extra-paths ["dev"]
        :extra-deps {djblue/portal {:mvn/version "0.40.0"}}
  }
  :build {:deps {io.github.clojure/tools.build
                 {:git/tag "v0.9.2" :git/sha "fe6b140"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.1"}
                      io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}}}
